<footer class="h-screen w-screen bg-primary text-white fixed bottom-0 -z-10">
  <div class="container max-w-7xl mx-auto bg-lime-500 h-[90%]">
    <div class="flex flex-col w-full h-full justify-end items-center">
      <div id="up" class="flex bg-red-500 w-full h-40">
        <div></div>
      </div>
      <div id="bot" class="flex bg-blue-500 w-full h-40"></div>
    </div>
  </div>
</footer>
