<footer class="h-screen w-screen fixed bottom-0 -z-10">
  <div class="container max-w-7xl mx-auto h-[90%]">
    <div class="flex flex-col w-full h-full justify-end items-center">
      <div id="up" class="flex w-full h-60 justify-center items-center">
        <div class="flex w-full">
          <div class="flex flex-col flex-1 gap-6 items-start justify-end">
            <h4 class="font-semibold text-5xl text-gray-200">Thanks for stopping by :v</h4>
            <p class="text-xl text-gray-500">If you liked what you saw, let's collaborate and create something extraordinary together!</p>
          </div>
          <div class="flex-1 justify-end items-end flex">
            <svg width="86" height="66" viewBox="0 0 86 66" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M61.3531 7.25729C58.6209 16.2345 55.5304 30.3083 65.0262 14.7863C65.7651 13.6389 67.2429 10.6402 67.2429 7.82454C67.2429 5.00891 67.2429 16.0969 67.2429 21.9929C67.0539 17.8417 67.444 9.19626 70.5165 7.82454L76.4062 4.06006L77.0635 4.9625C75.9981 11.0776 75.5041 23.2254 82.0512 22.8954C88.5982 22.5653 77.0893 24.7776 70.5165 25.925C59.3598 28.1854 36.3428 33.5262 33.5281 36.8059"
                stroke="#D1D5DB"
                stroke-width="3"></path>
              <path
                d="M42.4952 13.6525C41.4412 11.2697 38.4899 7.93372 35.1171 13.6525C30.901 20.8011 30.2454 31.8196 37.6236 24.7353C43.5261 19.0679 44.6847 12.7311 44.5261 10.2711H43.395C41.844 14.934 39.4926 24.3548 42.4952 24.7353C43.3739 24.8467 44.5454 23.595 45.8342 21.5725M45.8342 21.5725C48.95 16.6832 52.7514 7.28947 54.7579 1.75977C53.1897 3.98404 50.8631 8.95458 54.1023 11.0426C58.1513 13.6525 51.1913 30.611 45.8342 21.5725Z"
                stroke="#D1D5DB"
                stroke-width="3"></path>
              <path
                d="M6.13683 14.6367C8.61677 11.4389 14.3361 4.38667 17.3738 1.75977C14.3232 9.76924 9.27495 25.8912 13.4866 26.3033C17.6982 26.7153 28.4821 10.1126 33.3476 1.75977C32.2235 4.23643 29.6998 10.3822 28.5979 15.1518C27.4961 19.9214 21.5743 37.3045 18.7511 45.3998C16.3612 51.9885 10.2867 65.0294 5.10709 64.4834C-0.0724831 63.9375 2.374 54.1261 4.24469 49.2886C7.29528 42.8673 19.5755 27.5258 32.5502 26.5858"
                stroke="#D1D5DB"
                stroke-width="3"></path>
              <path d="M61.8536 5.1877L63.1166 1.39893" stroke="#D1D5DB" stroke-width="3"></path>
            </svg>
          </div>
        </div>
      </div>
      <div id="bot" class="flex w-full h-20 border-t-[1px] border-gray-500">
        <div class="flex flex-col flex-1 gap-6 items-start justify-end">
          <p class="text-xl text-gray-500">© 2024 Yasin’s Portfolio. All rights reserved.</p>
        </div>
        <div class="flex-1 justify-end items-end flex gap-5">
          <a href="https://github.com/yasin-codes" class="p-2 text-gray-500 hover:text-gray-200 transition-all duration-300" target="_blank" rel="noopener noreferrer">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
              ><title>github_line</title><g id="github_line" fill="none"
                ><path
                  d="M24 0v24H0V0zM12.593 23.258l-.011.002-.071.035-.02.004-.014-.004-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01-.017.428.005.02.01.013.104.074.015.004.012-.004.104-.074.012-.016.004-.017-.017-.427c-.002-.01-.009-.017-.017-.018m.265-.113-.013.002-.185.093-.01.01-.003.011.018.43.005.012.008.007.201.093c.012.004.023 0 .029-.008l.004-.014-.034-.614c-.003-.012-.01-.02-.02-.022m-.715.002a.023.023 0 0 0-.027.006l-.006.014-.034.614c0 .012.007.02.017.024l.015-.002.201-.093.01-.008.004-.011.017-.43-.003-.012-.01-.01z"
                ></path><path
                  fill="currentColor"
                  d="M6.315 6.176c-.25-.638-.24-1.367-.129-2.034a6.77 6.77 0 0 1 2.12 1.07c.28.214.647.283.989.18A9.343 9.343 0 0 1 12 5c.961 0 1.874.14 2.703.391.342.104.709.034.988-.18a6.77 6.77 0 0 1 2.119-1.07c.111.667.12 1.396-.128 2.033-.15.384-.075.826.208 1.14C18.614 8.117 19 9.04 19 10c0 2.114-1.97 4.187-5.134 4.818-.792.158-1.101 1.155-.495 1.726.389.366.629.882.629 1.456v3a1 1 0 0 0 2 0v-3c0-.57-.12-1.112-.334-1.603C18.683 15.35 21 12.993 21 10c0-1.347-.484-2.585-1.287-3.622.21-.82.191-1.646.111-2.28-.071-.568-.17-1.312-.57-1.756-.595-.659-1.58-.271-2.28-.032a9.081 9.081 0 0 0-2.125 1.045A11.432 11.432 0 0 0 12 3c-.994 0-1.953.125-2.851.356a9.08 9.08 0 0 0-2.125-1.045c-.7-.24-1.686-.628-2.281.031-.408.452-.493 1.137-.566 1.719l-.005.038c-.08.635-.098 1.462.112 2.283C3.484 7.418 3 8.654 3 10c0 2.992 2.317 5.35 5.334 6.397A3.986 3.986 0 0 0 8 17.98l-.168.034c-.717.099-1.176.01-1.488-.122-.76-.322-1.152-1.133-1.63-1.753-.298-.385-.732-.866-1.398-1.088a1 1 0 0 0-.632 1.898c.558.186.944 1.142 1.298 1.566.373.448.869.916 1.58 1.218.682.29 1.483.393 2.438.276V21a1 1 0 0 0 2 0v-3c0-.574.24-1.09.629-1.456.607-.572.297-1.568-.495-1.726C6.969 14.187 5 12.114 5 10c0-.958.385-1.881 1.108-2.684.283-.314.357-.756.207-1.14"
                ></path></g
              ></svg
            >
          </a>
          <a href="https://www.instagram.com/yasin.graphs/" class="p-2 text-gray-500 hover:text-gray-200 transition-all duration-300" target="_blank" rel="noopener noreferrer">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
              ><title>ins_line</title><g id="ins_line" fill="none" fill-rule="evenodd"
                ><path
                  d="M24 0v24H0V0zM12.593 23.258l-.011.002-.071.035-.02.004-.014-.004-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01-.017.428.005.02.01.013.104.074.015.004.012-.004.104-.074.012-.016.004-.017-.017-.427c-.002-.01-.009-.017-.017-.018m.265-.113-.013.002-.185.093-.01.01-.003.011.018.43.005.012.008.007.201.093c.012.004.023 0 .029-.008l.004-.014-.034-.614c-.003-.012-.01-.02-.02-.022m-.715.002a.023.023 0 0 0-.027.006l-.006.014-.034.614c0 .012.007.02.017.024l.015-.002.201-.093.01-.008.004-.011.017-.43-.003-.012-.01-.01z"
                ></path><path fill="currentColor" d="M16 3a5 5 0 0 1 5 5v8a5 5 0 0 1-5 5H8a5 5 0 0 1-5-5V8a5 5 0 0 1 5-5zm0 2H8a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V8a3 3 0 0 0-3-3m-4 3a4 4 0 1 1 0 8 4 4 0 0 1 0-8m0 2a2 2 0 1 0 0 4 2 2 0 0 0 0-4m4.5-3.5a1 1 0 1 1 0 2 1 1 0 0 1 0-2"
                ></path></g
              ></svg
            >
          </a>
          <a href="https://x.com/Yasin3856" class="p-2 text-gray-500 hover:text-gray-200 transition-all duration-300" target="_blank" rel="noopener noreferrer">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
              ><title>social_x_line</title><g id="social_x_line" fill="none" fill-rule="evenodd"
                ><path
                  d="M24 0v24H0V0zM12.594 23.258l-.012.002-.071.035-.02.004-.014-.004-.071-.036c-.01-.003-.019 0-.024.006l-.004.01-.017.428.005.02.01.013.104.074.015.004.012-.004.104-.074.012-.016.004-.017-.017-.427c-.002-.01-.009-.017-.016-.018m.264-.113-.014.002-.184.093-.01.01-.003.011.018.43.005.012.008.008.201.092c.012.004.023 0 .029-.008l.004-.014-.034-.614c-.003-.012-.01-.02-.02-.022m-.715.002a.023.023 0 0 0-.027.006l-.006.014-.034.614c0 .012.007.02.017.024l.015-.002.201-.093.01-.008.003-.011.018-.43-.003-.012-.01-.01z"
                ></path><path fill="currentColor" d="M19.753 4.659a1 1 0 0 0-1.506-1.317l-5.11 5.84L8.8 3.4A1 1 0 0 0 8 3H4a1 1 0 0 0-.8 1.6l6.437 8.582-5.39 6.16a1 1 0 0 0 1.506 1.317l5.11-5.841L15.2 20.6a1 1 0 0 0 .8.4h4a1 1 0 0 0 .8-1.6l-6.437-8.582 5.39-6.16ZM16.5 19 6 5h1.5L18 19z"></path></g
              ></svg
            >
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
