<footer class="h-96 w-full bg-primary text-white fixed bottom-0 -z-10">
  <div class="container max-w-7xl">
    <div class="flex w-full h-full items-center">
      <div id="up" class="flex">
        <div></div>
      </div>
      <div id="bot" class="flex"></div>
    </div>
  </div>
</footer>
