---
import CustomCursor from "../components/CustomCursor.astro";
import Footer from "../components/Footer.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet" />
    <link href="https://fonts.cdnfonts.com/css/myriad-pro" rel="stylesheet" />
  </head>
  <body class="font-['Inter'] scroll-smooth overflow-x-hidden h-[5400px] bg-primary">
    <CustomCursor />
    <slot />
    <Footer />
  </body>
</html>

<script>
  document.addEventListener("scroll", () => {
    const mainContent = document.getElementById("main-content");
    const scrollPosition = window.scrollY + window.innerHeight;
    const totalHeight = document.body.scrollHeight;
    const scrollPercentage = (scrollPosition / totalHeight) * 100;

    if (scrollPercentage >= 90) {
      mainContent.classList.remove("scale-100");
      mainContent.classList.add("scale-90");
    } else {
      mainContent.classList.remove("scale-90");
      mainContent.classList.add("scale-100");
    }
  });
</script>
